.content-container {
  display: flex;
  flex-direction: row;
}

app-tree-view-explorer {
  flex: 1; /* Adjust this value as needed to control width */
}

/* CSS for smaller screens */
@media (max-width: 768px) {
  app-tree-view {
    display: none;
  }
}

.container {
  max-width: none;
  flex: 3; /* Adjust this value as needed to control width */
}
