<div class="category-list container">
  <app-list-header [showFilter]="true" (handleFilterEvent)="handleFilter($event)"
                   [showAdd]="true" (addEvent)="showAdd = !showAdd"
                   [itemName]="'Category'"></app-list-header>

  <app-category-form
    *ngIf="showAdd"
    [category]="undefined"
    (visible) = "showAdd=$event">
  </app-category-form>

  <!-- List of Categories -->
  <div class="list-group">
      <app-category
        *ngFor="let category of filteredCategories$ | async"
        [category]="category"></app-category>
  </div>

  <!-- Empty state condition -->
  <app-nothing-here [items]="((categories$ | async) ?? [])"></app-nothing-here>
</div>
