.container {
  padding: 20px;
  border-radius: 8px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em; /* Adjust as needed */
}

.add-button {
  /* Styles similar to your edit and delete buttons */
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border-radius: 0.25rem; /* Bootstrap border radius */
  /* Additional styles if needed */
  margin-left: auto; /* This ensures the button stays to the right */
}
