<div class="category-list container">
  <app-list-header [showFilter]="true" (handleFilterEvent)="handleFilter($event)"
                   [showAdd]="true" (addEvent)="showAdd = !showAdd"
                   [itemTypes]="headerType"></app-list-header>
  <!-- List of Categories -->
  <div class="list-group">
      <app-category
        *ngFor="let category of filteredCategories$ | async"
        [category]="category"></app-category>
  </div>

  <!-- Empty state condition -->
  <app-nothing-here [items]="((categories$ | async) ?? [])"></app-nothing-here>
</div>
<app-category-form
  *ngIf="showAdd"
  [category]="undefined"
  (hide) = "showAdd=false">
</app-category-form>
