.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em; /* Adjust as needed */
}

.add-button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border-radius: 0.25rem; /* Bootstrap border radius */
  margin-left: .4rem;
}
