<div class="category-list container">
  <div class="header-area d-flex justify-content-between align-items-center">
<!--    <h2>Categories</h2>-->
<!--    <input type="text" class="search-box" placeholder="Search categories..." [(ngModel)]="searchTerm" (input)="filterCategories()">-->
    <app-filter-input (filterEvent)="handleFilter($event)"></app-filter-input>
    <button class="btn btn-primary add-button" (click)="showAdd = !showAdd">
      <i class="bi bi-plus-lg"></i> Add Category
    </button>
  </div>

  <app-category-form
    *ngIf="showAdd"
    (save)="showAdd = false; createCategory($event)"
    (cancel)="showAdd = false"
    [category]="undefined">
  </app-category-form>

  <!-- List of Categories -->
  <div class="list-group">
    <app-category
      *ngFor="let category of categories"
      [category]="category"
      (delete)="deleteCategory($event)"
      (update)="updateCategory($event)"></app-category>
  </div>

  <!-- Empty state condition -->
  <app-nothing-here [items]="categories"></app-nothing-here>
</div>
